{{ ansible_managed | comment }}
[Interface]
Address = {{ client.address }}/{{ wireguard_network | split('/') | last }}
PrivateKey = {{ client.private_key }}

[Peer]
PublicKey = {{ wireguard_public_key }}
AllowedIPs = {{ wireguard_network }}
Endpoint = {{ wireguard_endpoint }}:{{ wireguard_port }}
PersistentKeepalive = {{ wireguard_keepalive }}
