[Interface]
Address = {{ client.address }}
PrivateKey = {{ client.private_key }}

[Peer]
PublicKey = {{ wireguard_public_key }}
AllowedIPs = 10.7.7.0/24
Endpoint = {{ wireguard_endpoint }}:{{ wireguard_port }}
