---
{{ ansible_managed | comment }}
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:

scrape_configs:
{% for job in prometheus_scrape_configs %}
  - job_name: {{ job.name }}
    static_configs:
{% for job_target in job.targets %}
      # {{ job_target.comment }}
      - targets: [ {{ job_target.target }} ]
        labels: { instance: {{ job_target.label }} }
{% endfor %}
{% endfor %}
...
